# Raw Data Cleaning
We set up a new Jupyter Notebook to backup the data as `rawdata` to avoid bugs and mistakes happening.

In [1]:
import pandas as pd

In [2]:
rawdata = pd.read_csv('merged_dataframe.csv')
rawdata = rawdata.sort_values(by='Year', ascending=True)
rawdata['Entity'] = 'China'
rawdata['Code'] = 'CHN'

cols = rawdata.columns.tolist()
col_to_drop = cols[20] 
rawdata = rawdata.drop(columns=[col_to_drop])

cols = rawdata.columns.tolist()
cols.insert(3, cols.pop(6))
cols.insert(4, cols.pop(7))

rawdata = rawdata[cols]
rawdata = rawdata.reset_index(drop=True)

Consistent Scale

In [3]:
columns_to_convert = [
    'Foreign Direct Investment', 
    'Unemployment rate', 
    'Government health expenditure', 
    'Government revenues', 
    'Age dependency ratio', 
    'Research and development spending'
]
for column in columns_to_convert:
    if column in rawdata.columns:
        rawdata[column] = rawdata[column].apply(lambda x: x * 100 if pd.notnull(x) else x)

rawdata.to_csv('Raw_data.csv', index=False)

rawdata

,Year,Entity,Code,GDP per Capita,Population,"Government expenditure on education, total (% of GDP)",Government expenditure on primary education as % of GDP (%),Annual Working Hours,Consumer Price Index,Government Expenditure,...,Government health expenditure,Life Expectancy,Government revenues,Age dependency ratio,Research and development spending,Taxes on goods and services (as a share of GDP),"Taxes on income, profits and capital gains (TIPCG) (as a share of GDP)",Human Development Index,Gender Development Index,Productivity
0,1970,China,CHN,1292.5070,8.225345e+08,NaN,NaN,1976.3120,NaN,NaN,...,NaN,NaN,NaN,80.132945,NaN,NaN,NaN,NaN,NaN,1. 4994909
1,1971,China,CHN,1382.5481,8.432854e+08,1.504148,NaN,1975.7937,NaN,NaN,...,NaN,57.472110,NaN,79.802335,NaN,NaN,NaN,NaN,NaN,1.5798508
2,1972,China,CHN,1310.6804,8.628404e+08,1.620546,NaN,1975.5077,NaN,NaN,...,NaN,58.388600,NaN,78.953924,NaN,NaN,NaN,NaN,NaN,1. 492279
3,1973,China,CHN,1396.8113,8.816521e+08,1.697113,NaN,1975.3647,NaN,NaN,...,NaN,59.367887,NaN,78.661213,NaN,NaN,NaN,NaN,NaN,1. 5905421
4,1974,China,CHN,1392.1698,8.993677e+08,1.754547,NaN,1975.1897,NaN,NaN,...,NaN,60.144828,NaN,78.936067,NaN,NaN,NaN,NaN,NaN,1. 5722494
5,1975,China,CHN,1428.9760,9.151247e+08,1.740779,NaN,1974.8975,NaN,NaN,...,NaN,60.702793,NaN,79.252391,NaN,NaN,NaN,NaN,NaN,1. 5965048
6,1976,China,CHN,1350.1012,9.293759e+08,1.779506,NaN,1974.2075,NaN,NaN,...,NaN,61.613119,NaN,79.236954,NaN,NaN,NaN,NaN,NaN,1. 4927917
7,1977,China,CHN,1424.0562,9.425813e+08,1.807332,NaN,1973.4353,NaN,NaN,...,NaN,62.365282,NaN,77.057473,NaN,NaN,NaN,NaN,NaN,1. 5616083
8,1978,China,CHN,1618.6330,9.551389e+08,2.022968,NaN,1972.7274,NaN,NaN,...,NaN,62.818361,NaN,73.129774,NaN,NaN,NaN,NaN,NaN,1. 7562629
9,1979,China,CHN,1677.2329,9.682989e+08,2.015320,NaN,1972.1038,NaN,NaN,...,NaN,63.483663,NaN,70.219607,NaN,NaN,NaN,NaN,NaN,1. 7937474
10,1980,China,CHN,1678.2577,9.823725e+08,1.916521,0.56544,1971.4967,NaN,NaN,...,NaN,64.065235,NaN,67.023879,NaN,NaN,NaN,NaN,NaN,1.7565327
11,1981,China,CHN,1667.3282,9.972595e+08,1.971744,0.58997,1971.1016,NaN,NaN,...,NaN,64.611921,NaN,64.161427,NaN,NaN,NaN,NaN,NaN,1. 6996822
12,1982,China,CHN,1762.4872,1.013483e+09,2.035631,0.63945,1970.7063,NaN,0.278316,...,NaN,65.088832,NaN,62.487185,NaN,NaN,NaN,NaN,NaN,1. 7360451
13,1983,China,CHN,1871.7107,1.029227e+09,2.029450,0.64110,1970.1927,NaN,0.269566,...,NaN,65.397469,NaN,60.547534,NaN,NaN,NaN,NaN,NaN,1. 8232234
14,1984,China,CHN,2095.3680,1.044172e+09,1.988630,0.59916,1969.7229,NaN,0.257825,...,NaN,65.801117,NaN,57.563411,NaN,NaN,NaN,NaN,NaN,2. 0174322
15,1985,China,CHN,2336.5251,1.060240e+09,2.013063,0.58996,1969.3905,NaN,0.253251,...,NaN,66.141968,NaN,55.002284,NaN,NaN,NaN,NaN,NaN,2. 2257786
16,1986,China,CHN,2366.6023,1.077770e+09,1.942434,0.60639,1970.4417,27.135625,0.239202,...,NaN,66.373853,NaN,53.833978,NaN,NaN,NaN,NaN,NaN,2. 2396414
17,1987,China,CHN,2443.5935,1.096852e+09,1.777861,0.55476,1971.4633,30.278093,0.217298,...,NaN,66.662373,NaN,52.897904,NaN,NaN,NaN,NaN,NaN,2. 3069808
18,1988,China,CHN,2548.7253,1.115890e+09,1.740543,0.57495,1972.6764,35.876417,0.211222,...,NaN,66.971825,NaN,52.136005,NaN,NaN,NaN,NaN,NaN,2. 379545
19,1989,China,CHN,2507.4414,1.134415e+09,1.712324,NaN,1973.9873,39.590410,0.211321,...,NaN,67.183593,NaN,51.565444,NaN,9. 170754,4. 6433463,NaN,NaN,2.2952845
20,1990,China,CHN,2427.0550,1.153704e+09,1.686302,NaN,1975.3540,40.856244,0.198848,...,NaN,67.339542,NaN,51.467642,NaN,8.645571,4. 4651213,0. 484,0. 873,2. 189328
21,1991,China,CHN,2519.9937,1.170626e+09,1.659997,NaN,1976.8881,42.842797,0.180493,...,NaN,67.494675,NaN,51.311207,NaN,7.9783025,3.277696,0. 492,0.875,2. 25109
22,1992,China,CHN,2722.6484,1.183813e+09,1.645005,0.56739,1978.4229,47.239339,0.163390,...,NaN,68.069271,NaN,51.096713,NaN,7.6122904,2.988174,0. 504,0.881,2. 432315
23,1993,China,CHN,2943.4604,1.195856e+09,1.832576,0.57657,1981.6453,56.963664,0.149975,...,NaN,68.511294,NaN,50.898808,NaN,8.084106,2. 1756253,0.515,0.888,2.6291595
24,1994,China,CHN,3133.4246,1.207287e+09,1.957753,0.77434,1989.2990,66.843840,0.137833,...,NaN,68.736202,NaN,50.311659,NaN,NaN,NaN,0.525,0.891,2.7920673
25,1995,China,CHN,3431.2358,1.218144e+09,1.837422,0.55447,2001.8340,76.872817,0.130190,...,NaN,69.188692,NaN,49.442513,NaN,6. 56671,2. 1080956,0.535,0.894,3. 0420306
26,1996,China,CHN,3659.8289,1.228299e+09,1.838616,0.74874,2017.2646,81.059119,0.134090,...,NaN,69.473723,NaN,48.705496,0.624886,6. 480157,2.1386194,0.545,0.894,3. 2180831
27,1997,China,CHN,3757.7200,1.237801e+09,1.834482,NaN,2037.3639,81.865719,0.148094,...,NaN,69.922725,NaN,47.868950,0.653495,6.6422515,2. 0197482,0.554,0.891,3.2628345
28,1998,China,CHN,3741.4180,1.246836e+09,1.847784,0.66514,2062.0522,81.051958,0.165031,...,NaN,70.378703,NaN,47.065581,0.725053,7.7531996,1.8527954,0.564,0.896,3. 2003472
29,1999,China,CHN,3930.9387,1.255433e+09,1.946161,0.61544,2082.0667,80.539045,0.175284,...,NaN,70.540814,NaN,46.013966,0.849073,NaN,NaN,0.573,0.897,3.320289
30,2000,China,CHN,4199.8400,1.264099e+09,2.026350,NaN,2090.4753,80.937073,0.182893,...,0.974867,71.052612,8.150883,44.705237,0.926685,8.487062,2.6252778,0.584,0. 901,3.524101
31,2001,China,CHN,4540.0283,1.272740e+09,2.126714,NaN,2103.5151,80.800690,0.190499,...,1.049337,71.745824,8.756535,43.619871,1.015539,8.850572,3.5420403,0.593,0. 907,3. 775427
32,2002,China,CHN,4940.1445,1.280926e+09,2.224590,NaN,2118.2014,81.033176,0.190885,...,1.187188,71.984687,9.151935,42.426682,1.095601,9. 157096,3.8903232,0.604,0. 914,4. 0724883
33,2003,China,CHN,5365.0444,1.288873e+09,2.322018,NaN,2138.0823,83.936910,0.185814,...,1.271909,72.363914,9.489214,40.645194,1.174582,9. 471609,3.4707358,0.615,0.92,4.3798833
34,2004,China,CHN,5952.9900,1.296817e+09,2.418354,NaN,2167.8960,85.461435,0.187465,...,1.331280,72.771050,16.905741,38.855411,1.264589,9.513149,3. 6751125,0.626,0.927,4. 7892036
35,2005,China,CHN,6588.5630,1.304888e+09,2.514341,NaN,2192.3545,87.003744,0.190519,...,1.376153,73.009913,25.340574,37.911043,1.336003,12.315503,3. 9640415,0.638,0.933,5. 240103
36,2006,China,CHN,7144.8000,1.313087e+09,2.621444,NaN,2183.0583,89.939536,0.191176,...,1.407775,73.385651,29.637643,37.265260,1.364396,10.808319,4. 0141163,0.65,0.939,5. 70952
37,2007,China,CHN,7817.4500,1.321513e+09,3.077007,NaN,2152.6501,94.779552,0.199881,...,1.570675,73.663705,31.011078,36.893180,1.404175,11. 40929,4. 423239,0.663,0.942,6.339555
38,2008,China,CHN,8281.8700,1.330167e+09,3.598243,NaN,2131.5928,96.761202,0.220729,...,1.948291,73.858029,26.675890,36.592175,1.543486,12.13065,4. 713137,0.672,0.945,6.7905946
39,2009,China,CHN,8938.0870,1.339126e+09,3.719876,NaN,2138.8518,98.174122,0.229466,...,2.155870,74.247722,27.030429,36.490226,1.672393,12.572677,4.4578295,0.682,0.948,7.314836
40,2010,China,CHN,10116.5330,1.348191e+09,3.623381,NaN,2172.7102,102.572881,0.235817,...,2.245360,74.444720,27.243035,36.599200,1.726945,13.033634,4. 3287497,0. 691,0.952,8.160233
41,2011,China,CHN,10874.7070,1.357095e+09,3.668094,NaN,2178.8090,106.563068,NaN,...,2.428761,74.743707,27.795339,36.782819,1.837363,13.192892,4. 7147803,0. 7,0.956,8. 755135
42,2012,China,CHN,11501.8210,1.366561e+09,3.806330,NaN,2184.2930,109.360227,NaN,...,2.618921,75.035715,28.316262,37.140614,1.953294,13. 073874,4.725958,0.709,0.96,9.246322
43,2013,China,CHN,11899.7350,1.376100e+09,3.624175,NaN,2178.3250,111.752083,NaN,...,2.757179,75.204804,28.522592,37.868068,1.995451,12.865465,4.8560376,0. 717,0.963,9. 604797
44,2014,China,CHN,12411.4390,1.385190e+09,3.634511,NaN,2178.6626,113.612797,NaN,...,2.901885,75.479369,28.735982,38.761402,2.025718,12.531686,4. 952271,0. 725,0. 967,10. 032687
45,2015,China,CHN,12784.4360,1.393715e+09,3.763262,NaN,2170.4592,115.591179,NaN,...,2.925357,75.733001,28.594506,39.384605,2.064271,12. 018815,5.16565,0.733,0. 971,10.392884
46,2016,China,CHN,13147.8520,1.401890e+09,3.701339,NaN,2167.2278,117.610418,NaN,...,2.864664,75.958724,28.026773,40.123924,2.088845,11.4260235,5.2200212,0. 74,0. 975,10. 742945
47,2017,China,CHN,13854.2290,1.410276e+09,3.595111,NaN,2168.9190,119.822503,NaN,...,2.877285,76.065831,27.917725,41.045712,2.109599,11. 220127,5. 3178024,0. 747,0. 981,11. 3577385
48,2018,China,CHN,13819.3240,1.417069e+09,3.510014,NaN,2168.9190,123.415085,NaN,...,2.955863,76.346558,27.794293,42.233485,2.179212,11. 119577,5.3720307,0. 755,0. 981,11.380233
49,2019,China,CHN,14128.8120,1.421864e+09,3.519330,NaN,2168.9190,126.591398,NaN,...,NaN,76.659499,26.329850,43.238788,2.308133,10.510474,4.813959,0.762,0.984,11. 692401
50,2020,China,CHN,NaN,NaN,3.428540,NaN,NaN,128.183135,NaN,...,NaN,76.777072,24.750762,43.454359,2.373998,9.7524,4. 6777844,0. 764,0. 984,NaN
51,2021,China,CHN,NaN,NaN,3.296806,NaN,NaN,NaN,NaN,...,NaN,76.875673,NaN,NaN,NaN,9.64492,4.8938923,0.768,0.984,NaN

# Data Quality KPIs Test
After data collection, we get the raw data, which still needs to be cleaned. To test data quality, we use several KPIs to develop the data quality.

## Test DataFrame

In [4]:
import requests

def fetch_indicator(country_code, indicator, date_range):
    # Build the URL for the API request
    url = f'https://api.worldbank.org/v2/country/{country_code}/indicator/{indicator}?date={date_range}&format=json&per_page=500'
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        if data and len(data) > 1:
            return pd.DataFrame([
                {
                    'Year': item['date'],
                    indicator: item['value']
                }
                for item in data[1]
            ])
        else:
            print(f"No data found for {indicator}.")
            return pd.DataFrame()
    else:
        print(f"Failed to retrieve data for {indicator}.")
        return pd.DataFrame()

In [5]:
country_code = 'CN'
date_range = '1970:2021'
indicators = {
    'NY.GDP.PCAP.CD': 'GDP per Capita',
    'SP.POP.TOTL': 'Population',
    'SE.XPD.TOTL.GD.ZS': 'Government expenditure on education, total (% of GDP)',
    'UIS.XGDP.1.FSGOV': 'Government expenditure on primary education as % of GDP (%)',
    'FP.CPI.TOTL': 'Consumer Price Index',
    'GB.XPD.RSDV.GD.ZS': 'Research And Development Expenditure (% Of GDP)'
}

In [6]:
frames = [fetch_indicator(country_code, indicator, date_range).rename(columns={indicator: name})
          for indicator, name in indicators.items()]

testdata = pd.concat(frames, axis=1)
testdata = testdata.loc[:,~testdata.columns.duplicated()]  # Remove duplicate columns, if any
testdata = testdata.sort_values(by='Year', ascending=True)  # Sort by Year

testdata.dropna(how='all', subset=indicators.values(), inplace=True)

testdata = testdata.reset_index(drop=True)
# testdata.to_csv('Test_data.csv', index=False)

In [7]:
extra_test_new = pd.read_csv('extra_test.csv')
testdata_new = testdata
extra_test_new['Year'] = extra_test_new['Year'].astype('int64')
testdata_new['Year'] = testdata_new['Year'].astype('int64')
merged_data = pd.merge(testdata_new, extra_test_new, on='Year', how='outer', suffixes=('', '_extra'))

for col in extra_test_new.columns:
    if '_extra' in col:
        original_col_name = col.replace('_extra', '')
        merged_data[original_col_name] = merged_data.apply(lambda row: row[col] if pd.notna(row[col]) else row[original_col_name], axis=1)

merged_data_final = merged_data.drop(columns=[col for col in merged_data.columns if '_extra' in col])
testdata = merged_data_final
testdata.to_csv('Test_data.csv', index=False)
testdata

,Year,GDP per Capita,Population,"Government expenditure on education, total (% of GDP)",Government expenditure on primary education as % of GDP (%),Consumer Price Index,Research And Development Expenditure (% Of GDP),Entity,Code,Annual Working Hours,Foreign Direct Investment,Unemployment rate,Government health expenditure,Life Expectancy,Government revenues,Age dependency ratio,Human Development Index,Gender Development Index
0,1970,113.162578,818315000,NaN,NaN,NaN,NaN,China,CHN,1976.3120,NaN,NaN,NaN,56.6070,NaN,80.52,NaN,NaN
1,1971,118.654144,841105000,1.388740,NaN,NaN,NaN,China,CHN,1975.7937,NaN,NaN,NaN,57.5653,NaN,80.19,NaN,NaN
2,1972,131.885559,862030000,1.604760,NaN,NaN,NaN,China,CHN,1975.5077,NaN,NaN,NaN,58.4184,NaN,79.48,NaN,NaN
3,1973,157.089111,881940000,1.650820,NaN,NaN,NaN,China,CHN,1975.3647,NaN,NaN,NaN,59.3891,NaN,78.83,NaN,NaN
4,1974,160.147688,900350000,1.761150,NaN,NaN,NaN,China,CHN,1975.1897,NaN,NaN,NaN,60.1683,NaN,79.06,NaN,NaN
5,1975,178.339614,916395000,1.708500,NaN,NaN,NaN,China,CHN,1974.8975,NaN,NaN,NaN,60.9170,NaN,79.51,NaN,NaN
6,1976,165.404262,930685000,1.816570,NaN,NaN,NaN,China,CHN,1974.2075,NaN,NaN,NaN,61.7956,NaN,79.76,NaN,NaN
7,1977,185.420537,943455000,1.749540,NaN,NaN,NaN,China,CHN,1973.4353,NaN,NaN,NaN,62.5379,NaN,78.43,NaN,NaN
8,1978,228.519313,956165000,1.958840,NaN,NaN,NaN,China,CHN,1972.7274,NaN,NaN,NaN,63.2177,NaN,74.77,NaN,NaN
9,1979,272.146923,969005000,2.148050,NaN,NaN,NaN,China,CHN,1972.1038,NaN,NaN,NaN,63.8649,NaN,71.06,NaN,NaN
10,1980,312.020377,981235000,1.911900,0.56544,NaN,NaN,China,CHN,1971.4967,NaN,NaN,NaN,64.4198,NaN,68.11,NaN,NaN
11,1981,291.358237,993885000,1.948810,0.58997,NaN,NaN,China,CHN,1971.1016,NaN,NaN,NaN,64.9755,NaN,65.53,NaN,NaN
12,1982,281.499334,1008630000,2.034480,0.63945,NaN,NaN,China,CHN,1970.7063,0.021454,NaN,NaN,65.4627,NaN,63.58,NaN,NaN
13,1983,297.807023,1023310000,2.076920,0.64110,NaN,NaN,China,CHN,1970.1927,0.040314,NaN,NaN,65.9045,NaN,61.38,NaN,NaN
14,1984,302.585825,1036825000,1.998630,0.59916,NaN,NaN,China,CHN,1969.7229,0.051549,NaN,NaN,66.3004,NaN,58.81,NaN,NaN
15,1985,294.789735,1051040000,2.008140,0.58996,NaN,NaN,China,CHN,1969.3905,0.203239,NaN,NaN,66.6434,NaN,56.58,NaN,NaN
16,1986,281.699495,1066790000,2.061550,0.60639,26.048320,NaN,China,CHN,1970.4417,0.149622,NaN,NaN,66.9697,NaN,54.79,NaN,NaN
17,1987,301.733250,1084035000,1.804250,0.55476,27.932612,NaN,China,CHN,1971.4633,0.236287,NaN,NaN,67.2876,NaN,53.59,NaN,NaN
18,1988,370.219285,1101630000,1.764180,0.57495,33.187245,NaN,China,CHN,1972.6764,0.272127,NaN,NaN,67.5808,NaN,52.64,NaN,NaN
19,1989,407.892658,1118650000,NaN,NaN,39.242469,NaN,China,CHN,1973.9873,0.224287,NaN,NaN,67.8378,NaN,52.01,NaN,NaN
20,1990,347.578366,1135185000,NaN,NaN,40.440263,NaN,China,CHN,1975.3540,0.230007,NaN,NaN,68.0052,NaN,51.93,0.484,0.873
21,1991,359.213269,1150780000,NaN,NaN,41.878596,NaN,China,CHN,1976.8881,0.238149,2.370,NaN,68.1688,NaN,51.86,0.492,0.875
22,1992,423.304430,1164970000,1.654560,0.56739,44.539554,NaN,China,CHN,1978.4229,0.936953,2.370,NaN,68.7345,NaN,51.60,0.504,0.881
23,1993,525.365692,1178440000,1.657850,0.57657,51.046818,NaN,China,CHN,1981.6453,0.989361,2.690,NaN,69.2164,NaN,51.40,0.515,0.888
24,1994,473.489916,1191835000,1.985710,0.77434,63.429240,NaN,China,CHN,1989.2990,0.354406,2.900,NaN,69.5201,NaN,51.01,0.525,0.891
25,1995,609.604338,1204855000,1.841920,0.55447,74.079786,NaN,China,CHN,2001.8340,0.272276,3.000,NaN,70.0080,NaN,50.42,0.535,0.894
26,1996,709.415888,1217550000,1.853390,0.74874,80.238158,0.56324,China,CHN,2017.2646,0.244748,3.120,NaN,70.2659,NaN,49.64,0.545,0.894
27,1997,781.742561,1230075000,NaN,NaN,82.473966,0.63873,China,CHN,2037.3639,0.391533,3.230,NaN,70.6720,NaN,48.58,0.554,0.891
28,1998,828.594691,1241935000,1.844330,0.66514,81.836289,0.64689,China,CHN,2062.0522,0.439923,3.240,NaN,71.1721,NaN,47.63,0.564,0.896
29,1999,873.297611,1252735000,1.888040,0.61544,80.689376,0.74963,China,CHN,2082.0667,0.368922,3.250,NaN,71.4188,NaN,46.83,0.573,0.897
30,2000,959.360431,1262645000,NaN,NaN,80.970022,0.89316,China,CHN,2090.4753,0.380733,3.260,0.986,71.8807,7.65,45.89,0.584,0.901
31,2001,1053.112314,1271850000,NaN,NaN,81.552298,0.94033,China,CHN,2103.5151,0.723909,3.800,0.971,72.6061,8.35,44.73,0.593,0.907
32,2002,1148.514257,1280400000,NaN,NaN,80.955359,1.05786,China,CHN,2118.2014,0.427326,4.240,1.109,72.9850,9.13,43.28,0.604,0.914
33,2003,1288.637491,1288400000,NaN,NaN,81.868215,1.12037,China,CHN,2138.0823,0.509314,4.580,1.251,73.3714,9.13,41.84,0.615,0.920
34,2004,1508.667916,1296075000,NaN,NaN,84.999377,1.21498,China,CHN,2167.8960,0.407733,4.490,1.295,73.7477,9.76,40.46,0.626,0.927
35,2005,1753.414192,1303720000,NaN,NaN,86.509318,1.30792,China,CHN,2192.3545,0.600602,4.520,1.370,74.1111,25.69,39.03,0.638,0.933
36,2006,2099.219430,1311020000,NaN,NaN,87.936230,1.36854,China,CHN,2183.0583,0.869588,4.430,1.391,74.5037,26.92,38.01,0.650,0.939
37,2007,2693.958732,1317885000,2.700735,NaN,92.171913,1.37369,China,CHN,2152.6501,0.483187,4.350,1.436,74.7619,34.58,37.51,0.663,0.942
38,2008,3468.327063,1324655000,3.631788,NaN,97.633331,1.44592,China,CHN,2131.5928,1.235056,4.590,1.730,74.8719,26.29,37.22,0.672,0.945
39,2009,3832.227457,1331260000,3.751522,NaN,96.922399,1.66480,China,CHN,2138.8518,0.860301,4.720,2.143,75.3434,27.05,37.10,0.682,0.948
40,2010,4550.473944,1337705000,3.754642,NaN,100.000000,1.71372,China,CHN,2172.7102,0.952062,4.530,2.177,75.5991,27.16,37.12,0.691,0.952
41,2011,5614.386022,1345035000,3.521965,NaN,105.553899,1.78034,China,CHN,2178.8090,0.641206,4.550,2.315,75.9032,27.47,37.27,0.700,0.956
42,2012,6300.582180,1354190000,3.944094,NaN,108.318909,1.91214,China,CHN,2184.2930,0.761388,4.570,2.547,76.1923,28.26,37.66,0.709,0.960
43,2013,7020.386074,1363240000,3.710476,NaN,111.158002,1.99786,China,CHN,2178.3250,0.762464,4.590,2.705,76.4523,28.50,38.21,0.717,0.963
44,2014,7636.074340,1371860000,3.580334,NaN,113.294060,2.02243,China,CHN,2178.6626,1.175385,4.610,2.804,76.7173,28.65,38.88,0.725,0.967
45,2015,8016.445595,1379860000,3.813830,NaN,114.922123,2.05701,China,CHN,2170.4592,1.576548,4.630,2.986,76.9771,28.92,39.62,0.733,0.971
46,2016,8094.390167,1387790000,3.761116,NaN,117.220567,2.10033,China,CHN,2167.2278,1.926637,4.530,2.892,77.2177,28.16,40.46,0.740,0.975
47,2017,8817.045608,1396215000,3.667450,NaN,119.088050,2.11603,China,CHN,2168.9190,1.123381,4.440,2.860,77.2476,27.81,41.54,0.747,0.981
48,2018,9905.406383,1402760000,3.542495,NaN,121.558878,2.14058,China,CHN,2168.9190,1.029352,4.280,2.914,77.7444,28.15,42.59,0.755,0.981
49,2019,10143.860221,1407745000,3.541055,NaN,125.083154,2.24463,China,CHN,2168.9190,0.958758,4.520,3.002,77.9680,27.27,43.44,0.762,0.984
50,2020,10408.719554,1411100000,3.572956,NaN,128.109444,2.40666,China,CHN,NaN,1.046597,5.000,NaN,78.0766,24.54,44.14,0.764,0.984
51,2021,12617.505104,1412360000,3.297843,NaN,129.366217,2.43260,China,CHN,NaN,0.721986,4.817,NaN,78.2107,NaN,44.55,0.768,0.984

## Consistency
Some data like `GDP per Capita` and `Population`... had the official data to compute matched data.

In [8]:
def calculate_consistency(rawdata, testdata):
    consistency_results = {column: 100 for column in rawdata.columns}
    for column in rawdata.columns.intersection(testdata.columns):
        merged_data = pd.merge(rawdata[[column]], testdata[[column]], left_index=True, right_index=True, how='outer', suffixes=('_raw', '_test'))
        matches = merged_data.apply(lambda x: x[column + '_raw'] == x[column + '_test'] if pd.notna(x[column + '_raw']) or pd.notna(x[column + '_test']) else True, axis=1)
        consistency_percentage = (matches.sum() / len(merged_data)) * 100
        consistency_results[column] = consistency_percentage

    consistency_df = pd.DataFrame(list(consistency_results.items()), columns=['Column', 'Consistency'])
    average_consistency = consistency_df['Consistency'].sum() / len(consistency_results)
    consistency_df['Consistency'] = consistency_df['Consistency'].apply(lambda x: f"{x:.2f}%")
    return consistency_df, average_consistency

consistency_df, average_consistency = calculate_consistency(rawdata, testdata)

print(consistency_df)
print(f"Average Consistency: {average_consistency:.2f}%")

                                               Column Consistency
0                                                Year     100.00%
1                                              Entity     100.00%
2                                                Code     100.00%
3                                      GDP per Capita       0.00%
4                                          Population       0.00%
5   Government expenditure on education, total (% ...       1.92%
6   Government expenditure on primary education as...     100.00%
7                                Annual Working Hours     100.00%
8                                Consumer Price Index      30.77%
9                              Government Expenditure     100.00%
10                          Foreign Direct Investment      21.15%
11                                  Unemployment rate      40.38%
12                      Government health expenditure      61.54%
13                                    Life Expectancy       0.00%
14                                Government revenues      59.62%
15                               Age dependency ratio       0.00%
16                  Research and development spending     100.00%
17    Taxes on goods and services (as a share of GDP)     100.00%
18  Taxes on income, profits and capital gains (TI...     100.00%
19                            Human Development Index      38.46%
20                           Gender Development Index      38.46%
21                                       Productivity     100.00%
Average Consistency: 58.74%

## Reliability

In [9]:
def calculate_reliability(rawdata, testdata):
    reliability_results = {column: 100 for column in rawdata.columns}
    for column in rawdata.columns.intersection(testdata.columns):
        merged_data = pd.merge(rawdata[[column]], testdata[[column]], left_index=True, right_index=True, how='outer', suffixes=('_raw', '_test'))
        merged_data[column + '_raw'] = pd.to_numeric(merged_data[column + '_raw'], errors='coerce')
        merged_data[column + '_test'] = pd.to_numeric(merged_data[column + '_test'], errors='coerce')
        percentage_differences = merged_data.apply(lambda x: abs(x[column + '_raw'] - x[column + '_test']) / x[column + '_test'] * 100 if pd.notna(x[column + '_raw']) and pd.notna(x[column + '_test']) else None, axis=1)
        reliability_percentage = 100 - percentage_differences.mean()
        reliability_results[column] = reliability_percentage if pd.notna(reliability_percentage) else 100

    reliability_df = pd.DataFrame(list(reliability_results.items()), columns=['Column', 'Reliability'])
    average_reliability = reliability_df['Reliability'].mean()
    reliability_df['Reliability'] = reliability_df['Reliability'].apply(lambda x: f"{x:.2f}%" if pd.notna(x) else 'NA')
    return reliability_df, average_reliability

reliability_df, average_reliability = calculate_reliability(rawdata, testdata)

# Print the results
print(reliability_df)
print(f"Average Reliability: {average_reliability:.2f}%")

                                               Column Reliability
0                                                Year     100.00%
1                                              Entity     100.00%
2                                                Code     100.00%
3                                      GDP per Capita    -331.51%
4                                          Population      99.36%
5   Government expenditure on education, total (% ...      97.49%
6   Government expenditure on primary education as...     100.00%
7                                Annual Working Hours     100.00%
8                                Consumer Price Index      97.82%
9                              Government Expenditure     100.00%
10                          Foreign Direct Investment      77.50%
11                                  Unemployment rate      96.98%
12                      Government health expenditure      96.51%
13                                    Life Expectancy      98.94%
14                                Government revenues      94.20%
15                               Age dependency ratio      98.58%
16                  Research and development spending     100.00%
17    Taxes on goods and services (as a share of GDP)     100.00%
18  Taxes on income, profits and capital gains (TI...     100.00%
19                            Human Development Index     100.00%
20                           Gender Development Index     100.00%
21                                       Productivity     100.00%
Average Reliability: 78.45%

## Completeness

In [10]:
def calculate_completeness(data):
    completeness_per_column = {}
    for column in data.columns:
        non_na_count = data[column].notna().sum()
        total_count = data[column].shape[0]
        completeness = (non_na_count / total_count) * 100
        completeness_per_column[column] = completeness

    completeness_df = pd.DataFrame(list(completeness_per_column.items()), columns=['Column', 'Completeness (%)'])
    
    total_non_na_count = data.notna().sum().sum()
    total_values = data.shape[0] * data.shape[1]
    overall_completeness = (total_non_na_count / total_values) * 100

    return completeness_df, overall_completeness
completeness_df, overall_completeness = calculate_completeness(rawdata)

# Print the results
print(completeness_df)
print(f"Overall Completeness: {overall_completeness:.2f}%")

                                               Column  Completeness (%)
0                                                Year        100.000000
1                                              Entity        100.000000
2                                                Code        100.000000
3                                      GDP per Capita         96.153846
4                                          Population         96.153846
5   Government expenditure on education, total (% ...         98.076923
6   Government expenditure on primary education as...         30.769231
7                                Annual Working Hours         96.153846
8                                Consumer Price Index         67.307692
9                              Government Expenditure         55.769231
10                          Foreign Direct Investment         78.846154
11                                  Unemployment rate         57.692308
12                      Government health expenditure         36.538462
13                                    Life Expectancy         98.076923
14                                Government revenues         40.384615
15                               Age dependency ratio         98.076923
16                  Research and development spending         48.076923
17    Taxes on goods and services (as a share of GDP)         59.615385
18  Taxes on income, profits and capital gains (TI...         59.615385
19                            Human Development Index         61.538462
20                           Gender Development Index         61.538462
21                                       Productivity         96.153846
Overall Completeness: 74.39%

## KPIs of Raw Data

In [11]:
consistency_df, average_consistency = calculate_consistency(rawdata, testdata)
reliability_df, average_reliability = calculate_reliability(rawdata, testdata)
completeness_df, overall_completeness = calculate_completeness(rawdata)

# Merge the results into a single DataFrame
combined_kpis_df = consistency_df.merge(reliability_df, on='Column', how='outer').merge(completeness_df, on='Column', how='outer')

# Optionally, fill missing values if any exist after merging
combined_kpis_df.fillna('N/A', inplace=True)

# Print the combined KPIs DataFrame
print(f"Average Consistency: {average_consistency:.2f}%")
print(f"Average Reliability: {average_reliability:.2f}%")
print(f"Overall Completeness: {overall_completeness:.2f}%")
combined_kpis_df

Average Consistency: 58.74%
Average Reliability: 78.45%
Overall Completeness: 74.39%

,Column,Consistency,Reliability,Completeness (%)
0,Year,100.00%,100.00%,100.000000
1,Entity,100.00%,100.00%,100.000000
2,Code,100.00%,100.00%,100.000000
3,GDP per Capita,0.00%,-331.51%,96.153846
4,Population,0.00%,99.36%,96.153846
5,"Government expenditure on education, total (% ...",1.92%,97.49%,98.076923
6,Government expenditure on primary education as...,100.00%,100.00%,30.769231
7,Annual Working Hours,100.00%,100.00%,96.153846
8,Consumer Price Index,30.77%,97.82%,67.307692
9,Government Expenditure,100.00%,100.00%,55.769231
10,Foreign Direct Investment,21.15%,77.50%,78.846154
11,Unemployment rate,40.38%,96.98%,57.692308
12,Government health expenditure,61.54%,96.51%,36.538462
13,Life Expectancy,0.00%,98.94%,98.076923
14,Government revenues,59.62%,94.20%,40.384615
15,Age dependency ratio,0.00%,98.58%,98.076923
16,Research and development spending,100.00%,100.00%,48.076923
17,Taxes on goods and services (as a share of GDP),100.00%,100.00%,59.615385
18,"Taxes on income, profits and capital gains (TI...",100.00%,100.00%,59.615385
19,Human Development Index,38.46%,100.00%,61.538462
20,Gender Development Index,38.46%,100.00%,61.538462
21,Productivity,100.00%,100.00%,96.153846

# Develop Data Quality
Choose most important problem data `GDP per Capita` and `Population` to improve

In [12]:
newdata = rawdata

columns_to_replace = ['GDP per Capita', 'Population']
for column in columns_to_replace:
    if column in newdata.columns and column in testdata.columns:
        newdata[column] = testdata[column]
newdata.to_csv('New_data.csv', index=False)
newdata

,Year,Entity,Code,GDP per Capita,Population,"Government expenditure on education, total (% of GDP)",Government expenditure on primary education as % of GDP (%),Annual Working Hours,Consumer Price Index,Government Expenditure,...,Government health expenditure,Life Expectancy,Government revenues,Age dependency ratio,Research and development spending,Taxes on goods and services (as a share of GDP),"Taxes on income, profits and capital gains (TIPCG) (as a share of GDP)",Human Development Index,Gender Development Index,Productivity
0,1970,China,CHN,113.162578,818315000,NaN,NaN,1976.3120,NaN,NaN,...,NaN,NaN,NaN,80.132945,NaN,NaN,NaN,NaN,NaN,1. 4994909
1,1971,China,CHN,118.654144,841105000,1.504148,NaN,1975.7937,NaN,NaN,...,NaN,57.472110,NaN,79.802335,NaN,NaN,NaN,NaN,NaN,1.5798508
2,1972,China,CHN,131.885559,862030000,1.620546,NaN,1975.5077,NaN,NaN,...,NaN,58.388600,NaN,78.953924,NaN,NaN,NaN,NaN,NaN,1. 492279
3,1973,China,CHN,157.089111,881940000,1.697113,NaN,1975.3647,NaN,NaN,...,NaN,59.367887,NaN,78.661213,NaN,NaN,NaN,NaN,NaN,1. 5905421
4,1974,China,CHN,160.147688,900350000,1.754547,NaN,1975.1897,NaN,NaN,...,NaN,60.144828,NaN,78.936067,NaN,NaN,NaN,NaN,NaN,1. 5722494
5,1975,China,CHN,178.339614,916395000,1.740779,NaN,1974.8975,NaN,NaN,...,NaN,60.702793,NaN,79.252391,NaN,NaN,NaN,NaN,NaN,1. 5965048
6,1976,China,CHN,165.404262,930685000,1.779506,NaN,1974.2075,NaN,NaN,...,NaN,61.613119,NaN,79.236954,NaN,NaN,NaN,NaN,NaN,1. 4927917
7,1977,China,CHN,185.420537,943455000,1.807332,NaN,1973.4353,NaN,NaN,...,NaN,62.365282,NaN,77.057473,NaN,NaN,NaN,NaN,NaN,1. 5616083
8,1978,China,CHN,228.519313,956165000,2.022968,NaN,1972.7274,NaN,NaN,...,NaN,62.818361,NaN,73.129774,NaN,NaN,NaN,NaN,NaN,1. 7562629
9,1979,China,CHN,272.146923,969005000,2.015320,NaN,1972.1038,NaN,NaN,...,NaN,63.483663,NaN,70.219607,NaN,NaN,NaN,NaN,NaN,1. 7937474
10,1980,China,CHN,312.020377,981235000,1.916521,0.56544,1971.4967,NaN,NaN,...,NaN,64.065235,NaN,67.023879,NaN,NaN,NaN,NaN,NaN,1.7565327
11,1981,China,CHN,291.358237,993885000,1.971744,0.58997,1971.1016,NaN,NaN,...,NaN,64.611921,NaN,64.161427,NaN,NaN,NaN,NaN,NaN,1. 6996822
12,1982,China,CHN,281.499334,1008630000,2.035631,0.63945,1970.7063,NaN,0.278316,...,NaN,65.088832,NaN,62.487185,NaN,NaN,NaN,NaN,NaN,1. 7360451
13,1983,China,CHN,297.807023,1023310000,2.029450,0.64110,1970.1927,NaN,0.269566,...,NaN,65.397469,NaN,60.547534,NaN,NaN,NaN,NaN,NaN,1. 8232234
14,1984,China,CHN,302.585825,1036825000,1.988630,0.59916,1969.7229,NaN,0.257825,...,NaN,65.801117,NaN,57.563411,NaN,NaN,NaN,NaN,NaN,2. 0174322
15,1985,China,CHN,294.789735,1051040000,2.013063,0.58996,1969.3905,NaN,0.253251,...,NaN,66.141968,NaN,55.002284,NaN,NaN,NaN,NaN,NaN,2. 2257786
16,1986,China,CHN,281.699495,1066790000,1.942434,0.60639,1970.4417,27.135625,0.239202,...,NaN,66.373853,NaN,53.833978,NaN,NaN,NaN,NaN,NaN,2. 2396414
17,1987,China,CHN,301.733250,1084035000,1.777861,0.55476,1971.4633,30.278093,0.217298,...,NaN,66.662373,NaN,52.897904,NaN,NaN,NaN,NaN,NaN,2. 3069808
18,1988,China,CHN,370.219285,1101630000,1.740543,0.57495,1972.6764,35.876417,0.211222,...,NaN,66.971825,NaN,52.136005,NaN,NaN,NaN,NaN,NaN,2. 379545
19,1989,China,CHN,407.892658,1118650000,1.712324,NaN,1973.9873,39.590410,0.211321,...,NaN,67.183593,NaN,51.565444,NaN,9. 170754,4. 6433463,NaN,NaN,2.2952845
20,1990,China,CHN,347.578366,1135185000,1.686302,NaN,1975.3540,40.856244,0.198848,...,NaN,67.339542,NaN,51.467642,NaN,8.645571,4. 4651213,0. 484,0. 873,2. 189328
21,1991,China,CHN,359.213269,1150780000,1.659997,NaN,1976.8881,42.842797,0.180493,...,NaN,67.494675,NaN,51.311207,NaN,7.9783025,3.277696,0. 492,0.875,2. 25109
22,1992,China,CHN,423.304430,1164970000,1.645005,0.56739,1978.4229,47.239339,0.163390,...,NaN,68.069271,NaN,51.096713,NaN,7.6122904,2.988174,0. 504,0.881,2. 432315
23,1993,China,CHN,525.365692,1178440000,1.832576,0.57657,1981.6453,56.963664,0.149975,...,NaN,68.511294,NaN,50.898808,NaN,8.084106,2. 1756253,0.515,0.888,2.6291595
24,1994,China,CHN,473.489916,1191835000,1.957753,0.77434,1989.2990,66.843840,0.137833,...,NaN,68.736202,NaN,50.311659,NaN,NaN,NaN,0.525,0.891,2.7920673
25,1995,China,CHN,609.604338,1204855000,1.837422,0.55447,2001.8340,76.872817,0.130190,...,NaN,69.188692,NaN,49.442513,NaN,6. 56671,2. 1080956,0.535,0.894,3. 0420306
26,1996,China,CHN,709.415888,1217550000,1.838616,0.74874,2017.2646,81.059119,0.134090,...,NaN,69.473723,NaN,48.705496,0.624886,6. 480157,2.1386194,0.545,0.894,3. 2180831
27,1997,China,CHN,781.742561,1230075000,1.834482,NaN,2037.3639,81.865719,0.148094,...,NaN,69.922725,NaN,47.868950,0.653495,6.6422515,2. 0197482,0.554,0.891,3.2628345
28,1998,China,CHN,828.594691,1241935000,1.847784,0.66514,2062.0522,81.051958,0.165031,...,NaN,70.378703,NaN,47.065581,0.725053,7.7531996,1.8527954,0.564,0.896,3. 2003472
29,1999,China,CHN,873.297611,1252735000,1.946161,0.61544,2082.0667,80.539045,0.175284,...,NaN,70.540814,NaN,46.013966,0.849073,NaN,NaN,0.573,0.897,3.320289
30,2000,China,CHN,959.360431,1262645000,2.026350,NaN,2090.4753,80.937073,0.182893,...,0.974867,71.052612,8.150883,44.705237,0.926685,8.487062,2.6252778,0.584,0. 901,3.524101
31,2001,China,CHN,1053.112314,1271850000,2.126714,NaN,2103.5151,80.800690,0.190499,...,1.049337,71.745824,8.756535,43.619871,1.015539,8.850572,3.5420403,0.593,0. 907,3. 775427
32,2002,China,CHN,1148.514257,1280400000,2.224590,NaN,2118.2014,81.033176,0.190885,...,1.187188,71.984687,9.151935,42.426682,1.095601,9. 157096,3.8903232,0.604,0. 914,4. 0724883
33,2003,China,CHN,1288.637491,1288400000,2.322018,NaN,2138.0823,83.936910,0.185814,...,1.271909,72.363914,9.489214,40.645194,1.174582,9. 471609,3.4707358,0.615,0.92,4.3798833
34,2004,China,CHN,1508.667916,1296075000,2.418354,NaN,2167.8960,85.461435,0.187465,...,1.331280,72.771050,16.905741,38.855411,1.264589,9.513149,3. 6751125,0.626,0.927,4. 7892036
35,2005,China,CHN,1753.414192,1303720000,2.514341,NaN,2192.3545,87.003744,0.190519,...,1.376153,73.009913,25.340574,37.911043,1.336003,12.315503,3. 9640415,0.638,0.933,5. 240103
36,2006,China,CHN,2099.219430,1311020000,2.621444,NaN,2183.0583,89.939536,0.191176,...,1.407775,73.385651,29.637643,37.265260,1.364396,10.808319,4. 0141163,0.65,0.939,5. 70952
37,2007,China,CHN,2693.958732,1317885000,3.077007,NaN,2152.6501,94.779552,0.199881,...,1.570675,73.663705,31.011078,36.893180,1.404175,11. 40929,4. 423239,0.663,0.942,6.339555
38,2008,China,CHN,3468.327063,1324655000,3.598243,NaN,2131.5928,96.761202,0.220729,...,1.948291,73.858029,26.675890,36.592175,1.543486,12.13065,4. 713137,0.672,0.945,6.7905946
39,2009,China,CHN,3832.227457,1331260000,3.719876,NaN,2138.8518,98.174122,0.229466,...,2.155870,74.247722,27.030429,36.490226,1.672393,12.572677,4.4578295,0.682,0.948,7.314836
40,2010,China,CHN,4550.473944,1337705000,3.623381,NaN,2172.7102,102.572881,0.235817,...,2.245360,74.444720,27.243035,36.599200,1.726945,13.033634,4. 3287497,0. 691,0.952,8.160233
41,2011,China,CHN,5614.386022,1345035000,3.668094,NaN,2178.8090,106.563068,NaN,...,2.428761,74.743707,27.795339,36.782819,1.837363,13.192892,4. 7147803,0. 7,0.956,8. 755135
42,2012,China,CHN,6300.582180,1354190000,3.806330,NaN,2184.2930,109.360227,NaN,...,2.618921,75.035715,28.316262,37.140614,1.953294,13. 073874,4.725958,0.709,0.96,9.246322
43,2013,China,CHN,7020.386074,1363240000,3.624175,NaN,2178.3250,111.752083,NaN,...,2.757179,75.204804,28.522592,37.868068,1.995451,12.865465,4.8560376,0. 717,0.963,9. 604797
44,2014,China,CHN,7636.074340,1371860000,3.634511,NaN,2178.6626,113.612797,NaN,...,2.901885,75.479369,28.735982,38.761402,2.025718,12.531686,4. 952271,0. 725,0. 967,10. 032687
45,2015,China,CHN,8016.445595,1379860000,3.763262,NaN,2170.4592,115.591179,NaN,...,2.925357,75.733001,28.594506,39.384605,2.064271,12. 018815,5.16565,0.733,0. 971,10.392884
46,2016,China,CHN,8094.390167,1387790000,3.701339,NaN,2167.2278,117.610418,NaN,...,2.864664,75.958724,28.026773,40.123924,2.088845,11.4260235,5.2200212,0. 74,0. 975,10. 742945
47,2017,China,CHN,8817.045608,1396215000,3.595111,NaN,2168.9190,119.822503,NaN,...,2.877285,76.065831,27.917725,41.045712,2.109599,11. 220127,5. 3178024,0. 747,0. 981,11. 3577385
48,2018,China,CHN,9905.406383,1402760000,3.510014,NaN,2168.9190,123.415085,NaN,...,2.955863,76.346558,27.794293,42.233485,2.179212,11. 119577,5.3720307,0. 755,0. 981,11.380233
49,2019,China,CHN,10143.860221,1407745000,3.519330,NaN,2168.9190,126.591398,NaN,...,NaN,76.659499,26.329850,43.238788,2.308133,10.510474,4.813959,0.762,0.984,11. 692401
50,2020,China,CHN,10408.719554,1411100000,3.428540,NaN,NaN,128.183135,NaN,...,NaN,76.777072,24.750762,43.454359,2.373998,9.7524,4. 6777844,0. 764,0. 984,NaN
51,2021,China,CHN,12617.505104,1412360000,3.296806,NaN,NaN,NaN,NaN,...,NaN,76.875673,NaN,NaN,NaN,9.64492,4.8938923,0.768,0.984,NaN

## Re-compute KPIs

In [13]:
consistency_df, average_consistency = calculate_consistency(newdata, testdata)
reliability_df, average_reliability = calculate_reliability(newdata, testdata)
completeness_df, overall_completeness = calculate_completeness(newdata)

# Merge the results into a single DataFrame
combined_kpis_df = consistency_df.merge(reliability_df, on='Column', how='outer').merge(completeness_df, on='Column', how='outer')

# Optionally, fill missing values if any exist after merging
combined_kpis_df.fillna('N/A', inplace=True)

# Print the combined KPIs DataFrame
print(f"Average Consistency: {average_consistency:.2f}%")
print(f"Average Reliability: {average_reliability:.2f}%")
print(f"Overall Completeness: {overall_completeness:.2f}%")
combined_kpis_df

Average Consistency: 67.83%
Average Reliability: 98.09%
Overall Completeness: 74.74%

,Column,Consistency,Reliability,Completeness (%)
0,Year,100.00%,100.00%,100.000000
1,Entity,100.00%,100.00%,100.000000
2,Code,100.00%,100.00%,100.000000
3,GDP per Capita,100.00%,100.00%,100.000000
4,Population,100.00%,100.00%,100.000000
5,"Government expenditure on education, total (% ...",1.92%,97.49%,98.076923
6,Government expenditure on primary education as...,100.00%,100.00%,30.769231
7,Annual Working Hours,100.00%,100.00%,96.153846
8,Consumer Price Index,30.77%,97.82%,67.307692
9,Government Expenditure,100.00%,100.00%,55.769231
10,Foreign Direct Investment,21.15%,77.50%,78.846154
11,Unemployment rate,40.38%,96.98%,57.692308
12,Government health expenditure,61.54%,96.51%,36.538462
13,Life Expectancy,0.00%,98.94%,98.076923
14,Government revenues,59.62%,94.20%,40.384615
15,Age dependency ratio,0.00%,98.58%,98.076923
16,Research and development spending,100.00%,100.00%,48.076923
17,Taxes on goods and services (as a share of GDP),100.00%,100.00%,59.615385
18,"Taxes on income, profits and capital gains (TI...",100.00%,100.00%,59.615385
19,Human Development Index,38.46%,100.00%,61.538462
20,Gender Development Index,38.46%,100.00%,61.538462
21,Productivity,100.00%,100.00%,96.153846

**The indicators for measuring data quality have all increased**